@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover,
    &:focus {
        color: #06b6d4;
    }
}

#root,
html {
    min-height: 100vh;
    min-width: 100vw;
}

section {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1000px;
}
